export ASAKUSA_DEVELOP_HOME={{ asakusa_dev_home }}
export ASAKUSA_HOME={{ asakusa_home }}
export HADOOP_CMD={{ ap_hadoop_cmd_path }}
export HADOOP_CLIENT_OPTS={{ ap_hadoop_cl_opts }}
export PATH={{ asakusa_dev_expath }}
