systemProp.http.proxyHost={{ default_proxy_url }}
systemProp.http.proxyPort={{ default_proxy_port  }}
systemProp.http.proxyUser={{ default_proxy_username  }}
systemProp.http.proxyPassword={{ default_proxy_password }}
systemProp.https.proxyHost={{ default_proxy_url }}
systemProp.https.proxyPort={{ default_proxy_port  }}
systemProp.https.proxyUser={{ default_proxy_username  }}
systemProp.https.proxyPassword={{ default_proxy_password }}

